:root {
    --on-hover-bg-color: #f6f8fa;
}

.workflow-list {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #000;
    background: red;
}

.workflow {
    background-color: #fff;
    padding: 1.5rem;
    /* border-style: solid;
    border-color: #aaaaaa;
    border-width: 0 1px 1px 1px; */
    border-bottom: 1px solid #000;
    box-sizing: border-box;

    &:hover {
        background-color: var(--on-hover-bg-color);
    }

    &:last-child {
        border-bottom: none;
    }
}